.btn-floating {
  position: fixed;
  right: 25px;
  overflow: hidden;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 0;
  z-index: 9999;
  color: white;
  transition: 0.2s;
  
}

.btn-floating:hover {
  width: auto;
  padding: 0 20px;
  cursor: pointer;
}

.btn-floating span {
  font-size: 16px;
  margin-left: 5px;
  transition: 0.2s;
  line-height: 0px;
  display: none;
}

.btn-floating:hover span {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

/* .btn-floating:hover img {
  margin-bottom: -3px;
} */

.btn-floating.whatsapp {
  bottom: 25px;
  background-color: #34af23;
  border: 2px solid #fff;
}

.btn-floating.whatsapp:hover {
  background-color: #1f7a12;
}
.icon-wafloat {
    font-size: 25px;
}