.img-islam {
    width: 50%;
    border-radius: 5px 60px 5px 60px;
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-islam {
    margin-left: 10px;
    margin-right: 10px;
}

/* RESPOSIVE */
@media only screen and (max-width: 768px) {
    .img-islam {
        width: 100%;
    }
    .card-islam {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .img-islam {
        width: 100%;
    }
}