.carousel-1 {
  width: 100%;
}
.carousel-2 {
  width: 100%;
}
.carousel-3 {
  width: 100%;
  height: 429px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .carousel-3 {
    height: 460px;
  }
}
@media only screen and (max-width: 550px) {
  .carousel-3 {
    height: 257px;
  }
}
