.box-smaunggul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(1, 120, 232);
    color: white;
    text-align: center;
}