.custom-nav {
  /* height: 120px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-all {
  display: flex;
  justify-content: end;
}
.daftar {
  margin-left: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .custom-nav {
    display: grid;
  }
}
@media only screen and (max-width: 550px) {
  .custom-nav {
    display: grid;
  }
  .daftar {
    display: grid;
  }
}